@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
//packages.infragistics.com/npm/js-licensed/:always-auth=true
//packages.infragistics.com/npm/js-licensed/:_auth=YXBpOjAyY2RxRm9vZERhdGFTZXJ2aWNlc2Y1YjIwMjQwODA4MTQ0ODIwMWFlYTAwY2JiOGEx
//packages.infragistics.com/npm/js-licensed/:username=jake!!fooddataservices.com
