<igx-navbar class="navbar">
  <igx-navbar-title class="navbar-content">
    <igx-avatar src="/assets/FDS%20Logo.svg" shape="circle" class="avatar"></igx-avatar>
    <button igxButton="flat" type="button" igxRipple routerLink="/master-view/home" class="button">
      Home
    </button>
    <button igxButton="flat" type="button" igxRipple routerLink="/master-view/administration" class="button">
      Administration
    </button>
  </igx-navbar-title>
</igx-navbar>
<div class="view-container">
  <router-outlet></router-outlet>
</div>
