<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <div class="column-layout group_3">
        <h5 class="h5">
          1
        </h5>
      </div>
    </div>
    <div class="row-layout group_4">
      <div class="column-layout group_5">
        <h5 class="h5">
          4
        </h5>
      </div>
    </div>
  </div>
  <div class="column-layout group_1">
    <div class="row-layout group_4">
      <div class="column-layout group_5">
        <h5 class="h5">
          2
        </h5>
      </div>
    </div>
    <div class="row-layout group_4">
      <div class="column-layout group_5">
        <h5 class="h5">
          5
        </h5>
      </div>
    </div>
  </div>
  <div class="column-layout group_1">
    <div class="row-layout group_4">
      <div class="column-layout group_5">
        <h5 class="h5">
          3
        </h5>
      </div>
    </div>
    <div class="row-layout group_6">
      <div class="column-layout group_5">
        <h5 class="h5">
          6
        </h5>
      </div>
    </div>
  </div>
</div>
