:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: hidden;
}
.row-layout {
  display: flex;
}
.tab-item-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.h5 {
  height: max-content;
  min-width: min-content;
}
.ingredient-image {
  object-fit: scale-down;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.button {
  --ig-size: var(--ig-size-medium);
  margin: 8px;
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  margin: 8px 0 0;
  height: max-content;
  flex-shrink: 0;
}
.button_2 {
  --ig-size: var(--ig-size-medium);
  margin: 8px 16px 0;
  height: max-content;
  flex-shrink: 0;
}
.food-code-5 {
  margin: 8px 16px 0;
  height: max-content;
  min-width: min-content;
}
.switch {
  margin: 16px;
  width: max-content;
  height: max-content;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  height: 77px;
  min-width: 50px;
  min-height: 50px;
  max-height: 77px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: hidden;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_6 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 16px;
  overflow: auto;
  position: relative;
  padding: 16px;
  min-width: 280px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_7 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  width: 500px;
  min-width: 380px;
  min-height: 280px;
  max-width: 500px;
}
.group_8 {
  border-color: var(--ig-gray-200);
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 680px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_9 {
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 560px;
  min-width: 430px;
  min-height: 50px;
  max-width: 560px;
}
.group_10 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 223px;
  min-width: 50px;
  min-height: 50px;
  max-height: 223px;
  align-self: stretch;
}
.group_11 {
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding: 8px 0 0;
  height: 66px;
  min-width: 50px;
  min-height: 50px;
  max-height: 66px;
}
.group_12 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_13 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 280px;
  min-height: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_14 {
  border-color: var(--ig-gray-200);
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 680px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_15 {
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  align-self: stretch;
  flex-grow: 1;
  flex-basis: 0;
}
.tabs {
  margin: 16px;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.tab-item {
  min-width: 100%;
}
.group_16 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 404px;
  min-width: 50px;
  min-height: 50px;
  max-height: 404px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_17 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 107px;
  min-width: 50px;
  min-height: 50px;
  max-height: 107px;
}
.group_18 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 148px;
  min-width: 50px;
  min-height: 50px;
  max-width: 148px;
}
.grid-main-eight {
  --ig-size: var(--ig-size-medium);
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
