<div class="column-layout group">
  <div class="row-layout group_1">
    <div class="column-layout group_2">
      <div class="row-layout group_3">
        <div class="column-layout group_4">
          <p class="text">
            Please create a password to create your account.
          </p>
        </div>
        <div class="column-layout group_5">
          <img src="/assets/FDS%20Logo.svg" class="image" />
        </div>
      </div>
      <igx-input-group type="border" class="username">
        <input type="text" required igxInput />
        <label igxLabel>User name</label>
      </igx-input-group>
      <igx-input-group type="border" class="username">
        <input type="text" required igxInput />
        <label igxLabel>Email Address</label>
      </igx-input-group>
      <igx-input-group type="border" class="username">
        <input type="password" required igxInput />
        <label igxLabel>Password</label>
      </igx-input-group>
      <igx-input-group type="border" class="username">
        <input type="password" required igxInput />
        <label igxLabel>Retype Password</label>
      </igx-input-group>
      <igx-checkbox labelPosition="after" class="checkbox">
        I agree to the Food Data Services Terms &amp; Conditions
      </igx-checkbox>
      <div class="row-layout group_6">
        <button igxButton="flat" type="button" igxRipple class="button">
          Cancel
        </button>
        <button igxButton="contained" type="button" igxRipple class="button">
          Create Account
        </button>
      </div>
    </div>
  </div>
</div>
