<div class="row-layout group">
  <div class="column-layout group_1">
    <div routerLink="/master-view/recipe-add-edit" class="row-layout group_2">
      <div class="column-layout group_3">
        <h5 class="h5">
          New Recipe
        </h5>
        <img src="/assets/016-ceviche.svg" routerLink="/master-view/recipe-add-edit" class="image" />
        <p class="ig-typography__subtitle-1 text">
          Click here to start a new recipe
        </p>
      </div>
    </div>
    <div routerLink="/master-view/ingredient-add-edit" class="row-layout group_4">
      <div routerLink="/master-view/ingredient-add-edit" class="column-layout group_5">
        <h5 class="h5">
          New Ingredient
        </h5>
        <img src="/assets/255-scales.svg" class="image" />
        <p class="ig-typography__subtitle-1 text">
          Click here to add a new ingredient
        </p>
      </div>
    </div>
  </div>
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <div routerLink="/master-view/recipe-search" class="column-layout group_5">
        <h5 class="h5">
          Recipes
        </h5>
        <img src="/assets/015-table-dhote.svg" class="image" />
        <p class="ig-typography__subtitle-1 text">
          Click here to search recipes
        </p>
      </div>
    </div>
    <div class="row-layout group_6">
      <div routerLink="/master-view/ingredient-search" class="column-layout group_5">
        <h5 class="h5">
          Ingredients
        </h5>
        <img src="/assets/014-nutrition-3.svg" class="image" />
        <p class="ig-typography__subtitle-1 text">
          Click here to search ingredients
        </p>
      </div>
    </div>
  </div>
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <div class="column-layout group_7">
        <div class="column-layout group_8">
          <h5 class="h5_1">
            Recent Recipes
          </h5>
          <div class="row-layout group_9">
            <img src="/assets/no-image-14596.svg" class="image_1" />
            <h5 class="recipe-one"></h5>
          </div>
          <div class="row-layout group_9">
            <img src="/assets/no-image-14596.svg" class="image_1" />
            <h5 class="recipe-one"></h5>
          </div>
          <div class="row-layout group_10">
            <img src="/assets/no-image-14596.svg" class="image_1" />
            <h5 class="recipe-one"></h5>
          </div>
          <p class="ig-typography__subtitle-1 recent-recipes">
            Your most recent recipes
          </p>
        </div>
      </div>
    </div>
    <div class="row-layout group_4"></div>
  </div>
</div>
