<div class="row-layout group">
  <div class="column-layout group_1">
    <h5 class="h5">
      Edit Organisation
    </h5>
  </div>
  <div class="column-layout group_2">
    <div class="row-layout group_3">
      <button igxButton="outlined" type="button" igxRipple class="button">
        Cancel
      </button>
      <button igxButton="contained" type="button" igxRipple class="button">
        Save
      </button>
    </div>
  </div>
</div>
<div class="row-layout group_4">
  <div class="column-layout group_5">
    <div class="row-layout group_6">
      <img src="/assets/no-image-14596.svg" class="company-logo" />
    </div>
    <div class="row-layout group_7">
      <button igxButton="outlined" type="button" igxRipple class="button_1">
        <igx-icon>
          delete_forever
        </igx-icon>
        <span>Clear</span>
      </button>
      <button igxButton="contained" type="button" igxRipple class="button_2">
        <igx-icon>
          add_photo_alternate
        </igx-icon>
        <span>Add</span>
      </button>
    </div>
    <div class="row-layout group_2">
      <div class="column-layout group_8">
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="organisationName" placeholder="Food data Service" required igxInput />
          <label igxLabel>Organisation Name</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="internalReference1" placeholder="FFS001" igxInput />
          <label igxLabel>Internal reference</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="vATNo" igxInput />
          <label igxLabel>123456</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="companyRegNo" igxInput />
          <label igxLabel>Company Registration No</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="website" placeholder="www.fooddataservices.com" igxInput />
          <label igxLabel>Website</label>
        </igx-input-group>
      </div>
    </div>
  </div>
  <div class="column-layout group_9">
    <div class="row-layout group_2">
      <div class="column-layout group_8">
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="address1" igxInput />
          <label igxLabel>Address Line 1</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="address2" igxInput />
          <label igxLabel>Address Line 2</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="address3" igxInput />
          <label igxLabel>Address Line 3</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="town" igxInput />
          <label igxLabel>Town</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="county" igxInput />
          <label igxLabel>County</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="postcode" igxInput />
          <label igxLabel>Post Code</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="telephone" igxInput />
          <label igxLabel>Telephone</label>
        </igx-input-group>
        <igx-input-group type="border" class="organisation-name">
          <igx-suffix>
            <igx-icon class="icon">
              clear
            </igx-icon>
          </igx-suffix>
          <input type="text" [(ngModel)]="email" igxInput />
          <label igxLabel>Email</label>
        </igx-input-group>
      </div>
    </div>
  </div>
</div>
