:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.tab-item-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.h5 {
  height: max-content;
  min-width: min-content;
}
.ingredient-image {
  object-fit: scale-down;
  height: 224px;
  min-width: 0;
  min-height: 0;
  max-height: 224px;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.h5_1 {
  margin: 16px 16px 8px;
  height: max-content;
  min-width: min-content;
}
.text {
  margin: 0 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.h5_2 {
  margin: 16px;
  height: max-content;
  min-width: min-content;
}
.button {
  --ig-size: var(--ig-size-medium);
  margin: 8px;
  height: max-content;
  flex-shrink: 0;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
  margin: 8px 0 0;
  height: max-content;
  flex-shrink: 0;
}
.button_2 {
  --ig-size: var(--ig-size-medium);
  margin: 8px 16px 0;
  height: max-content;
  flex-shrink: 0;
}
.reference {
  margin: 8px 16px 0;
  height: max-content;
  min-width: min-content;
}
.total-portions-1 {
  margin: 0 16px;
  height: max-content;
  min-width: min-content;
}
.switch {
  width: max-content;
  height: max-content;
}
.single-select-combo {
  height: max-content;
  min-width: min-content;
}
.switch_1 {
  margin: 0 0 0 16px;
  width: max-content;
  height: max-content;
}
.single-select-combo_1 {
  margin: 16px;
  height: max-content;
  min-width: min-content;
}
.single-select-combo_2 {
  margin: 0 16px 16px;
  height: max-content;
  min-width: min-content;
}
.textarea {
  margin: 16px;
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.input {
  margin: 4px;
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.button_3 {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  height: 77px;
  min-width: 50px;
  min-height: 50px;
  max-height: 77px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: hidden;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_6 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 16px;
  overflow: auto;
  position: relative;
  padding: 16px;
  min-width: 280px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_7 {
  border-color: var(--ig-gray-200);
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 380px;
  min-height: 280px;
}
.group_8 {
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding: 8px 0 0;
  min-width: 50px;
  min-height: 50px;
}
.group_9 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_10 {
  border-color: var(--ig-gray-200);
  border-width: 2px;
  border-style: solid;
  border-radius: 25px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 280px;
  min-height: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.tabs {
  margin: 16px;
  min-width: 0;
  min-height: 600px;
  flex-grow: 1;
  flex-basis: 0;
}
.tab-item {
  min-width: 100%;
}
.group_11 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 16px;
  min-width: 50px;
  min-height: 50px;
}
.group_12 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 214px;
  min-width: 50px;
  min-height: 50px;
  max-width: 214px;
}
.group_13 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_14 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 205px;
  min-width: 50px;
  min-height: 50px;
  max-height: 205px;
}
.group_15 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  height: 562px;
  min-width: 50px;
  min-height: 50px;
  max-height: 562px;
}
.group_16 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 594px;
  height: 610px;
  min-width: 300px;
  min-height: 50px;
  max-width: 594px;
  max-height: 610px;
}
.group_17 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  margin: 8px;
  height: 83px;
  min-width: 50px;
  min-height: 50px;
  max-height: 83px;
}
.group_18 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  margin: 8px;
  height: 467px;
  min-width: 272px;
  min-height: 467px;
  max-height: 467px;
}
.grid {
  --ig-size: var(--ig-size-medium);
  margin: 8px;
  min-width: 500px;
  min-height: 400px;
  flex-grow: 1;
  flex-basis: 0;
}
.grid_1 {
  --ig-size: var(--ig-size-medium);
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.grid_2 {
  --ig-size: var(--ig-size-medium);
  margin: 4px;
  min-width: 270px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
